@import "tailwindcss";

body{
  background-color: black;
  color: white;
}


.scroll-smooth {
  scroll-behavior: smooth;
}



::-webkit-scrollbar{

  display: none;

}

/* Hide scrollbar for ALL browsers */

.no-scrollbar {
  -ms-overflow-style: none;      /* Internet Explorer, Edge */
  scrollbar-width: none;         /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}
